pkgbase = feeluown-bilibili
	pkgdesc = Bilibili provider for FeelUOwn
	pkgver = 0.3
	pkgrel = 1
	epoch = 1
	url = https://github.com/BruceZhang1993/feeluown-bilibili
	arch = any
	license = GPL3
	makedepends = python-setuptools
	makedepends = python-pip
	depends = feeluown
	depends = python-cachetools
	depends = python-beautifulsoup4
	depends = python-pycryptodomex
	source = https://pypi.io/packages/source/f/feeluown-bilibili/feeluown-bilibili-0.3.tar.gz
	sha512sums = c434b1763e4f429619452a6ecf64dc50fe6db6c3fabbfce640c5d5e56f8eaa01f1f38d3b5651c4d2b9bd70876bd40c292a1a00549302e54f958cadb524a93eee

pkgname = feeluown-bilibili
